@page "/"
@inherits EmployeeListBase


<h3>EmployeeList</h3>

@if (Employees == null)
{
    <div class="spinner"> </div>
}
else
{
    <div class="card-deck">
        @foreach (var employee in Employees)
        {
        }
    </div>
}